.wrapper {
    width: 100%;
}
.home-site {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
}
.home-site > .movie-header {
    padding-top: 20px;
    width: 100%;
}

.home-site > .searchbar-wrapper {
    max-width: 1200px;
    padding: 20px;
    width: 100%;
}

/* Cards */
.home-site > .cards-wrapper {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-gap:  15px;
    grid-template-columns: repeat( 3 , minmax( min-content , 1fr ) ) ;
    padding: 20px;
}

@media ( max-width : 1000px ){
    .home-site > .cards-wrapper {
        grid-template-columns: repeat( 2 , minmax( min-content , 1fr ) );
    }
}