.message-wrapper {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    min-width: 100%;
    max-width: 100%;
}
.message-wrapper > .message {
    padding: 12px 10px;
    border-radius: 0;
}
.add-movie-wrapper > .message-wrapper,
.wrapper > .message-wrapper {
    position: static;
}