.app > .register-wrapper {
    padding: 20px;
    max-height: 93.5vh;
    min-height: 93.5vh;
    background: url('../../imgs//cover.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-filter: brightness( 0.9 );
    filter: brightness(0.9 ); 
}

.app .message-wrapper {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    min-width: 100%;
    max-width: 100%;
}
.app .message-wrapper > .message {
    padding: 12px 10px;
    border-radius: 0;
}

.register-form {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.80 );
    padding: 20px;
    border-radius: 10px;
}
.register-form > form > .header {
    text-align: center;
}

.fa-users {
    margin-top: 10px;
    font-size: 80px;
    display: block;
}